{% extends 'base.html' %}
{% block contents %}
        <div>signup.html</div>
        <section class="login">
            <h2>회원가입</h2>
            <ul>
                <form method="POST" action="{% url 'signup' %}" class="form-signin">
                    {% csrf_token %}
                    <li style="display: inline;"><input type="text" placeholder="아이디" name="id" class="form-control"></li>
                    <li><input type="password" placeholder="비밀번호" name="password1" class="form-control"></li>
                    <li><input type="password" placeholder="비밀번호 확인" name="password2" class="form-control"></li>
                    <li><input type="text" placeholder="이름" name="name" class="form-control"></li>
                    <li><input type="email" placeholder="이메일" name="email" class="form-control"></li>

                    <div style="margin: 0 0 0 30px; color: red;" class="messages">
                        {% if messages %}
                        {% for message in messages %}
                        {{message.message}}
                        {% endfor %}
                        {% endif %}
                    </div>

                    
                        <li><button type="submit" class="btn btn-lg btn-primary btn-block">계정 생성</button></li>
                    
                </form>
            </ul>
            <div>
                
            </div>
        </section>
{% endblock %}