<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> team_head </title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar_logo">
            <a href=""><image src="C:\Users\USER\Pictures\KakaoTalk_20200926_164858900.png" 
                width=250 height=50></image>
        </image></a>
            
            </div>

            <ul class="navbar_menu">
                <li><a href="">종합건설업안내</a></li>
                <li><a href="">인재정보</a></li>
            </ul>

            <ul class="last">
               <li><a href=""><i class="fa fa-search fa-1.8x"></i></a></li>
               <li>ㅣ</li> 
                <li><a href="">로그인</a></li>

            </ul>
        </nav>
      </header>
      
   
</body>
</html>